---
default: &default
  adapter: postgresql

# Local development only
development: &local
  <<: *default
  host: <%= ENV.fetch("DATABASE_HOST") { "localhost" } %>
  username: postgres
  password:
  database: timesheets

dev: &development

test:
  <<: *default
  <<: *local
  database: timesheets-test
